<%- include('../partials/header'); -%>
<title>Patient Details | VIT Pharmacy</title>
</head>

<body>
  <%- include('../partials/navbar'); -%>

  <div class="container-fluid">
    <div class="row">
      <%- include('../partials/sidebar'); -%>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <% if(user.role==='Admin' || user.role==='Cashier') { %>
        <div class="container-fluid">
          <h2>Add a Patient</h2>
          <form action="/addPatient" method="POST">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="patientName">Patient Name</label>
                <input name="patient_name" type="text" class="form-control" id="patientName" placeholder="Patient name"
                  maxlength="45" required>
              </div>
              <div class="form-group col-md-4">
                <label for="patientContact">Contact</label>
                <input name="patient_contact" type="text" class="form-control" id="patientContact"
                  placeholder="Contact No." maxlength="13" required>
              </div>

            </div>
            <div class="form-group">
              <label for="patientAddress">Address</label>
              <input name="patient_address" type="text" class="form-control" id="patientAddress"
                placeholder="1234 Main St" maxlength="50" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="patientGender">Gender</label>
                <select name="patient_gender" id="patientGender" class="form-control">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="patientAge">Age</label>
                <input name="patient_age" type="number" class="form-control" id="patientAge" min="1" required>
              </div>
              <div class="form-group col-md-4">
                <label for="patientInsuranaceId">Insurance ID</label>
                <input name="patient_insurance_id" type="text" class="form-control" maxlength="20">
              </div>
              <div class="form-group col-md-4">
                <label for="patientPassword">Password</label>
                <input name="patient_password" type="password" class="form-control" minlength="7" maxlength="200">
              </div>
              <div class="form-group col-md-4">
                <label for="patientDoctor">Doctor Name</label>
                <select name="patient_doctor" id="patientDoctor" class="form-control">
                  <% rows2.forEach(function(doctor){ %>
                  <option value="<%= doctor.doc_id %>"><%= doctor.doc_name %> (<%= doctor.doc_id %>)</option>
                  <% }); %>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-dark">Add</button>
          </form>
        </div>
        <% } %>
        <div class="container-fluid">
          <h2>Patient Details</h2>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
            <input class="form-control" id="searchPatient" type="text" onkeyup="searchPatient()"
              placeholder="Search a patient">
          </div>
          <br>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="myTable">
              <thead class="thead-dark">
                <tr>
                  <th>Patient ID</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Address</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Doctor</th>
                </tr>
              </thead>
              <tbody>
                <% rows.forEach(function(patient){ %>
                <tr>
                  <td><%= patient.pat_id %></td>
                  <td><%= patient.pat_name %></td>
                  <td><%= patient.contact %></td>
                  <td><%= patient.address %></td>
                  <td><%= patient.gender %></td>
                  <td><%= patient.age %></td>
                  <td><%= patient.doc_name %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script>
    function searchPatient() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchPatient");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
  <%- include('../partials/footer'); -%>